<footer>
    <div>&nbsp; &#169; Copy Right by Vivek Joshi</div>
    <nav>
        <li class="list">
            <div>
                <a href="https://github.com/BAKA-470"><i class="fa-brands fa-github"></i>
            <span>Github</span></a>
            </div>
        </li>
        <!-- <li class="list">|</li> -->
        <li class="list">
            <div>
                <a href="https://www.instagram.com/baka_998/"><i class="fa-brands fa-instagram"></i>
            <span>Instagram</span></a>
            </div>
        </li>

    </nav>

    <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li>|</li>
        <li><a href="#">Terms of Use</a></li>
        <li>|</li>
        <li><a href="mailto:<EMAIL>?subject=Feedback">Contact Us</a></li>

    </ul>
</footer>