<link rel="stylesheet" href="/css/user_sign_in.css">
<div>
    <h1>Sign In</h1>
    <div class="form-container">
        <form action="/users/create-session" method="post">
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Your Password" required><br>
            <!-- <input type="submit" value="Sign In"> -->
            <button type="submit">Sign In</button>

        </form>
    </div>
</div>