<link rel="stylesheet" href="/css/user_sign_up.css">
<h1>Sign Up</h1>

<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Your Name" required> <br>
    <input type="email" name="email" placeholder="Email Address" required><br>
    <input type="password" name="password" placeholder="Enter your Password" required><br>
    <input type="password" name="confirm_password" placeholder="Confirm your Password" required><br>
    <!-- <input type="submit" value="Sign Up"> -->
    <button type="submit">Sign Up</button>
</form>