body {
    margin: 0;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    ul {
        list-style: none;
    }
    #layout-main {
        flex: 1;
        padding-bottom: 50px;
    }
}